MEMORY {
	# Shifted ZP start to $0020 and size to $00E0 to preserve your R0-R7 monitor variables!
	ZP:		start = $0020, size = $00E0, type = rw;
	
	# ===============================================================================
	# MODIFIED: Changed start to $6000 and expanded size to match your 8KB RAM window ($2000 bytes)
	# ===============================================================================
	BASROM:		start = $6000, size = $2000, fill = no, file = %O;
	DUMMY:		start = $0000, size = $00FF, file = "";
}

SEGMENTS {
	ZEROPAGE:	load = ZP, type = zp;
	HEADER:		load = BASROM,	type = ro;
	VECTORS:	load = BASROM,	type = ro;
	KEYWORDS:	load = BASROM,	type = ro;
	ERROR:		load = BASROM,	type = ro;
	CODE:		load = BASROM,	type = ro;
	CHRGET:		load = BASROM,	type = ro;
	INIT:		load = BASROM,	type = ro;
	EXTRA:		load = BASROM,	type = ro;
	DUMMY:		load = DUMMY; # don't include
}

